name: Checkout Example

on: [push]

jobs:
  checkout_job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Show repo files
        run: ls -la
